body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
}

.MuiContainer-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1px;
  background-color: #ffffff; 
}

.MuiDrawer-paper {
  width: 240px;
  box-sizing: border-box;
  background-color: #dde7ed;
}

.table-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.table-header {
  background-color: #ffffff;
  font-weight: bold;
}

.patient-row {
  cursor: pointer;
}

.patient-actions {
  display: flex;
  gap: 8px;
}

.MuiButton-containedPrimary {
  background-color: #5e9bb5 !important;
  color: #FFFFFF;
}

.MuiButton-containedPrimary:hover {
  background-color: #497588 !important;
}
