/* src/components/PatientTable.css */

.table-container {
    margin-top: 2rem;
    background-color: #FFFFFF; /* Set the table background color to white */
    padding: 1rem; /* Optional: Add padding for better spacing */
    border-radius: 8px; /* Optional: Rounded corners */
  }
  
  .table-header {
    font-weight: bold;
    white-space: nowrap;
    color: #5e9bb5; /* Optional: Primary color for headers */
  }
  
  .patient-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .patient-row .MuiTableCell-root {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .patient-actions {
    display: flex;
    gap: 0.5rem;
  }
  
  .table-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; 
  }
  