body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dde7ed; 
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; 
  padding: 10rem; 
  background-color: #FFFFFF; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

.login-form .MuiTextField-root {
  width: 100%;
  max-width: 600px;
}

.login-form .MuiTypography-h4 {
  text-align: left;
  width: 100%;
  color: #000000; 
  max-width: 600px;
}

.error-message {
  color: #FF6347; 
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.error-message svg {
  font-size: 1.5rem;
}

.login-form .MuiButton-containedPrimary {
  background-color: #5e9bb5; 
  color: #FFFFFF;
}

.login-form .MuiButton-containedPrimary:hover {
  background-color: #497588; 
}

.login-form .MuiTypography-body2 {
  color: #000000; 
}

.login-form .MuiTypography-body2 span {
  color: #497588; 
  cursor: pointer;
}

.dialog-content {
  background-color: #f0f0f0; 
}

.dialog-title {
  color: #681753; 
}

.dialog-actions .MuiButton-textPrimary {
  color: #811b8a; 
}
