.patient-detail-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  padding: 0 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-left: 1rem;
  ;
}

.patient-info, .aki-section {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.accordion-grid {
  background-color: #ffffff;
  padding: 1rem;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  margin-left: 0px;
  border-radius: 8px;
  overflow: auto;
  width: 100%;
}

.patient-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.patient-info-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.patient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.patient-header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.patient-header-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.patient-details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.aki-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.prognosis-overview {
  margin-top: 1rem;
}

.prognosis-row {
  display: flex;
  justify-content: space-between;
  background-color: #dde7ed;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.MuiAccordion-root {
  margin-bottom: 1.5rem;
}

.MuiAccordionSummary-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.patient-row {
  height: 30px; 
}

.values-row .MuiTableCell-root {
  padding: 4px 8px;
  height: 30px;
  text-align: center;
}

.table-header-sticky th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1; 
}

.table-first-column-sticky td:first-child {
  position: sticky;
  left: 0;
  background-color: #ffffff;
  z-index: 1; 
  white-space: nowrap; 
}

.accordion-container {
  width: 100%;
}

.accordion-details {
  padding: 0;
  padding-bottom: 1rem;
}

.accordion-table-container {
  margin: 0 auto;
  overflow: auto;
  max-height: 500px;
}

.labs-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.Mui-disabled {
  pointer-events: none;
  opacity: 0.6;
}