.patient-detail-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  position: relative;
}

.patient-info, .aki-section {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.patient-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.patient-info-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.labs-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}

.patient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.patient-header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.patient-header-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.patient-details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.aki-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.prognosis-overview, .comments-section {
  margin-top: 1rem;
}

.prognosis-row {
  display: flex;
  justify-content: space-between;
  background-color: #dde7ed;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

/* .comments-section {
  margin-top: 1rem;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cdss-switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
} */

.MuiAccordion-root {
  margin-bottom: 1.5rem;
}

.MuiAccordionSummary-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.patient-row {
  height: 30px; 
  
}

.values-row .MuiTableCell-root {
  padding: 4px 8px;
  height: 30px;
  text-align: center;
}

/* .table-container {
  overflow: auto;
  max-height: 500px;  */


.table-header-sticky th {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1; /* Ensure it stays above other table content */
}

.table-first-column-sticky td:first-child {
  position: sticky;
  left: 0;
  background-color: #ffffff;
  z-index: 1; /* Ensure it stays above other table content */
  white-space: nowrap; /* Prevent text from wrapping */
}

.accordion-container {
  width: 100%;
}

.accordion-details {
  padding: 0;
}

.accordion-table-container {
  width: 100%;
  overflow: auto;
}