.table-container {
  margin-top: 2rem;
  background-color: #FFFFFF; 
  padding: 1rem;
  border-radius: 8px; 
  width: 100%;
}

.table-header {
  font-weight: bold;
  white-space: nowrap;
  color: #5e9bb5; 
}

.patient-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patient-row .MuiTableCell-root {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 16px; 
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  height: 50px; 
}

.patient-actions {
  display: flex;
  gap: 0.5rem;
}

.table-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; 
  padding: 4px 8px; 
}
